<header class="px-6 py-4 mb-6 flex items-center justify-between custom-container">
  <a href="/" class="text-2xl font-medium">DataBoxAPI</a>
  <nav class="flex gap-6">
    <a href="/" class="link link-primary">Home</a>
    <a href="/docs" class="link link-primary">Docs</a>
  </nav>
</header>