<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
  <link href="/css/tailwind.css" rel="stylesheet">

</head>

<body>
  <%- include("partials/header") %>
    <main class="custom-container px-6">
      <div class="px-6 py-16">
        <h1 class="text-5xl mb-2">Welcome to DataboxAPI</h1>
        <h2 class="text-2xl mb-4">Your go-to solution for rapid API prototyping and development testing</h2>
        <p class="mb-10">DataboxAPI provides free, ready-to-use fake APIs for testing and prototyping your applications
        </p>

        <h3 class="text-xl mb-4">Features</h3>
        <ul class="[&>*]:mb-3">
          <li>
            🚀 Ready-to-Use Endpoints: Pre-configured endpoints with realistic data
          </li>
          <li>
            🔄 RESTful Interface: Standard <b>GET, POST, PUT, DELETE</b> operations
          </li>
          <li>
            📊 Multiple Data Types: Access to users, posts, comments, products, and more
          </li>
          <li>
            ⚡ Zero Configuration: Start making requests immediately
          </li>
        </ul>
      </div>
      <div class="px-6 py-4">
        <h3 class="text-3xl">Try it</h3>

        <%- include('partials/codeBlock', { code: `
fetch("https://databoxapi.com/api/products") 
  .then(res=> res.json())
  .then(json => console.log(json))
          `}) %>

          <button class="btn btn-primary">Fetch</button>
      </div>

    </main>
</body>

</html>